.contact-container {
    padding: 50px 0;
  }
  
  .contact-info {
    background-color: #ADD8E6; /* Light blue background */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .contact-info h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .contact-info ul {
    padding: 0;
    list-style: none;
  }
  
  .contact-info ul li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .contact-info ul li i {
    margin-right: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .social-icons a {
    color: #fff;
  }
  
  .social-icons a i:hover {
    color: #007bff; /* Change color on hover */
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    font-weight: bold;
  }
  
  .contact-form .form-check {
    margin-bottom: 10px;
  }
  
  .contact-form .btn {
    background-color: #007bff;
    border: none;
  }