body {
    padding-top: 120px; /* Adjust this value to the height of your navbar to prevent content overlap */
  }
  
  .navbar {
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top */
  }
  
  .nav-link {
    color: #000 !important;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
  }
  
  .nav-item.active .nav-link {
    font-weight: bold;
    color: #007bff !important;
  }
  
  .navbar-brand .logo {
    height: 100px; /* Adjust the height to make it 2.5 times bigger */
    margin-left: 20px; /* Add margin to the left to shift the logo right */
  }
  
  .navbar-custom .navbar-nav {
    margin-left: 20; /* Remove left margin */
  }